#categories {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 300px;
    margin: auto;
    list-style-type: none;
}

.item {
    background-color:  #fcb4cf;;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(37, 18, 27, 0.7);
}

.item h2 {
    margin-top: 5px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 28px;
    line-height: 1.34;
    letter-spacing: 0.04em;
    color: #631758;
    text-align: center;
}

.item ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.item ul li {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #631758;
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
}

.item ul li:hover {
    background-color: #cb98c3;
}