div {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #631758;
}
button {
    padding: 20px;
    font-size: 16px;
    font-weight: bold;
    color: #631758;
    background-color: #ecbae9;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #f986f0;
}