.gallery {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    justify-content: center;
    align-items: center;
}
.pictures {
    max-width: calc((100% - 24px* 2) / 3);
    list-style-type: none;
    border: 2px solid #de8cd2;
    box-shadow: 0 8px 8px 0 rgba(94, 10, 10, 0.30);
}
img {
    display: block;
    object-fit: cover;
    max-width: 100%;    
    height: 261px;
}